* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #DFE7F2;
  }

  header h1{
    text-align: center;
    font-size: 3rem;
    color: #fff;
    background-color: #168C61;
    padding: 1rem;
    border-radius: 1rem;
  }
  
  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .question {
    background-color: #15BF81;
    padding: 9rem 7rem;
    color: #fff;
    box-shadow: 5px 5px 5px #666;
    text-align: center;
    border-radius: 1rem;
  }
  
  label {
    font-family: cursive;
    font-size: 40px;
  }
  
  input {
    display: block;
    width: 100%;
    margin-top: 15px;
    text-align: center;
    padding: 0 15px;
    font-size: 30px;
    background-color: #b7f0db;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: #333;
    font-family: cursive;
  }
  
  button {
    font-family: cursive;
    padding: 10px 30px;
    font-size: 25px;
    margin-top: 15px;
    cursor: pointer;
    background-color: #0a4a33;
    color: antiquewhite;
    border-radius: 5px;
    border: none ;
  }

  button:hover {
    background-color: #0fdb90;
    color: #fff;
  }
  button:active {
    background-color: #0f5e41;
    color: #fff;
  }